# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
baseRefactoring.xml
colors.scheme.xml
databaseDrivers.xml
databaseSettings.xml
debugger.renderers.xml
debugger.xml
diff.xml
editor.xml
gradle.run.settings.xml
ide.general.xml
markdown_navigator.shared.xml
mavenVersion.xml
scala.xml
ui.lnf.xml
web-browsers.xml

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
